*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "GetVoIPGrotesque";
  src: url("./assets/fonts/GetVoIP_Grotesque/GetVoIPGrotesque.ttf")
      format("truetype"),
    url("./assets/fonts/GetVoIP_Grotesque/GetVoIPGrotesque.otf")
      format("opentype");
}

@font-face {
  font-family: "GetVoIPGrotesqueItalic";
  src: url("./assets/fonts/GetVoIP_Grotesque/GetVoIPGrotesqueItalic.ttf")
      format("truetype"),
    url("./assets/fonts/GetVoIP_Grotesque/GetVoIPGrotesqueItalic.otf")
      format("opentype");
}
